<div
  class="box-root padding-top--24 flex-flex flex-direction--column"
  style="flex-grow: 1; z-index: 9"
>
  <div
    class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
  >
    <h1>
      <a href="" rel="dofollow">Etat de Stock</a>
    </h1>
  </div>
    <div class="formbg">
      <div class="formbg-inner padding-horizontal--48">
        <span class="padding-bottom--15">Voir l'etat de stock</span>
        <form method="post" action='@Url.Action("Submit","EtatStock")' id="stripe-login">
          <div class="field padding-bottom--24">
            <div class="input-group-date">
              <div>
                <label for="email">Date 1</label>
                  <input type="date" name="date1" />
              </div>
              <div style="margin-left:5%">
                <label for="email">Date 2</label>
                <input type="date" name="date2" />
              </div>
            </div>
          </div>
          <div class="field padding-bottom--24">
            <div class="grid--50-50">
              <label for="password">Article</label>
            </div>
            <input type="article" name="article" />
          </div>
          <div class="field padding-bottom--24">
            <div class="grid--50-50">
              <label for="password">Magasin</label>
            </div>
            <select name="magasin" id="">
              @foreach(Magasin magasin in ViewBag.magasins){
                <option value="@magasin.idMagasin">
                  @magasin.nomMagasin
                </option>
              }
            </select>
          </div>
          <div class="field padding-bottom--24">
            <input type="submit"  value="Valider" />
          </div>
         
        </form>
      </div>
    </div>
    <div class="footer-link padding-top--24">
      
    </div>
  </div>
</div>
